@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  text-align: center;
}

input.btn-primary {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  text-align: center;
}

label {
  margin-top: 5px;
}

footer {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
}

footer > span {
  display: block;
  float: left;
  font-size: 20px;
  font-weight: 700;
  margin: 10px 8px;
  line-height: 20px;
}

footer > span > a {
  color: #059;
  text-decoration: none;
}

footer > span > a:hover {
  text-decoration: underline;
  color: darkred;
}

footer > a > img {
  width: 20px;
  height: 20px;
  margin: 10px 10px 10px 0;
}
